{% extends 'layout.html' %}
{% block body %}
  <body>
    <main role="main">
      <div class="container marketing" style="text-align: center">
        <div class="row">
          <div class="col-lg-3 mt-5">
            <img class="rounded-circle" src="{{ url_for('static', filname='sakana.PNG') }}" alt="Generic placeholder image" width="140" height="140">
            <h2>さかなへんクイズ</h2>
            <p>収録問題数：114問</p>
            <p><a class="btn btn-secondary" href="sakanahen" role="button">難易度選択へ &raquo;</a></p>
          </div>
          <div class="col-lg-3 mt-5">
            <img class="rounded-circle" src="{{ url_for('static', filname='hai.PNG') }}" alt="Generic placeholder image" width="140" height="140">
            <h2>Element2</h2>
            <p>ほげほげほげほげほげほげほげほげほげほげほげ</p>
            <p><a class="btn btn-secondary" href="#" role="button">hogehoge &raquo;</a></p>
          </div>
          <div class="col-lg-3 mt-5">
            <img class="rounded-circle" src="{{ url_for('static', filname='hai.PNG') }}" alt="Generic placeholder image" width="140" height="140">
            <h2>Element3</h2>
            <p>ふがふがふがふがふがふがふがふがふがふがふが</p>
            <p><a class="btn btn-secondary" href="#" role="button">fugafuga &raquo;</a></p>
          </div>
          <div class="col-lg-3 mt-5">
            <img class="rounded-circle" src="{{ url_for('static', filname='hai.PNG') }}" alt="Generic placeholder image" width="140" height="140">
            <h2>Element4</h2>
            <p>ぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよ</p>
            <p><a class="btn btn-secondary" href="#" role="button">piyopiyo &raquo;</a></p>
          </div>
        </div>
      </div>
    </main>
  </body>
{% endblock %}
